.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.guess-me{
  width: 250px; 
  height: 200px; 
  background: #060b58;
  margin-bottom: 10px;
}

.button{
  padding: 5px;
}

button + button{
  margin-left: 20px;
}

.wrong{
  color: red;
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;

}

.right {
  color: green;
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 400;
}